<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Josahlie C. Bagang</h2>
    </div>

    <div class="row" data-aos="fade-in">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>259 Tamarind St. Dona Belen Subdvision, A.C. Pampanga</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>josahliebagang7@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+63 929 357 3189</p>
          </div>
          <!--Event Binding-->
          <button (click)="showData($event)">Download</button>
        </div>
      </div>
    </div>

    <div class="section-title">
      <!--Event Binding-->
      <h2>Dennis L. Bagang</h2>
    </div>

    <div class="row" data-aos="fade-in">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>259 Tamarind St. Dona Belen Subdvision, A.C. Pampanga</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>dlbagang@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+63 927 850 3470</p>
          </div>
          <!--Event Binding-->
          <button (click)="showData($event)">Download</button>
        </div>
      </div>
    </div>
  </div>
</section>
