<section id="services" class="services">
  <div class="container">
    <div class="section-title">
      <h2>Achievements</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-briefcase"></i></div>
        <h4 class="title"><a href="">Elementary</a></h4>
        <ul>
          <li>Rank #1 Grade 1</li>
          <li>Silver Medalist Track & Field</li>
          <li>Loyalty Award</li>
        </ul>
      </div>
      <div
        class="col-lg-4 col-md-6 icon-box"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="icon"><i class="bi bi-card-checklist"></i></div>
        <h4 class="title"><a href="">Highschool</a></h4>
        <ul>
          <li>Sepak Takraw Champion 2016 - 2018</li>
          <li>Basketball Intramurals 2nd Runnner Up</li>
        </ul>
      </div>
      <div
        class="col-lg-4 col-md-6 icon-box"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon"><i class="bi bi-bar-chart"></i></div>
        <h4 class="title"><a href="">College</a></h4>
        <ul>
          <li>U-days Champion (Basketball)</li>
          <li>CISCO Certification</li>
        </ul>
      </div>
      <!--Property Binding-->
      <input type="text" [value]="achievementsName" />
      <input type="text" [value]="achievementsDate" />
    </div>
  </div>
</section>
